/* 
body {
    margin: 0;
    padding: 15%;
    /* background-color: powderblue; */
    height: 100vh;
    text-align: center;
    background-image: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBi4e2aUwAIO0Av-Mu63LZDo91PasqF7FI2cesEMPAqA&s";
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  h3{
    font-family: 'Times New Roman', Times, serif;
  }

 

  */
